<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokedex3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFEC972D1E52368D00CA06AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFEC97411E52368E00CA06AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFEC974C1E52368E00CA06AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
